* {
  box-sizing: border-box;
}

.navigation-bar {
  height: 75px;
  font-size: 15px;
}

.row-homepage {
  height: 500px;
  font-size: 50px;
}

.row-products {
  height: 350px;
  font-size: 50px;
  font-style: italic;
  color: blue;
}

.row-testimonials {
  height: 300px;
  font-size: 25px;
}

.footer {
  height: 75px;
  font-size: 20px;
  font-style: normal;
  color: darkgreen;
}

.nav-col-logo {
  float: left;
  height: 75px;
  width: 33.33%;
  padding-left: 10px;
}

.nav-col-menu {
  float: right;
  height: 75px;
  width: 33.33%;
  padding-left: 10px;
  padding-top: 25px;
  text-align: center;
}

.col-homepage {
  border: solid 0.5px red;
  float: left;
  height: 500px;
  width: 15%;
  text-align: center;
  padding-top: 200px;
}

.col-homepage-main {
  border: solid 0.5px red;
  float: left;
  height: 500px;
  width: 70%;
  text-align: center;
}

.col-products {
  float: left;
  height: 350px;
  width: 33.33%;
  padding-left: 10px;
  padding-top: 25px;
  text-align: center;
}

.col-testimonials {
  border: solid 0.5px blue;
  float: left;
  height: 300px;
  width: 20%;
  padding-left: 10px;
  padding-top: 100px;
  text-align: center;
}

.col-testimonials-main {
  border: solid 0.5px blue;
  float: left;
  height: 300px;
  width: 60%;
  padding-top: 125px;
  text-align: center;
}

.col-footer {
  border: solid 0.5px blue;
  float: left;
  height: 75px;
  width: 20%;
  padding-left: 10px;
  padding-top: 25px;
  text-align: center;
  font-size: 12px;
}

.col-socialmedia {
  border: solid 0.5px blue;
  float: left;
  height: 75px;
  width: 20%;
  padding-left: 10px;
  padding-top: 25px;
  text-align: center;
}
